#img{
    background-image: url("../Assets/immm.jpeg");
    background-repeat:no-repeat;
    background-size: cover;

}

.wel{
    font-weight: bold;
    font-size: 40px;
    color: rgb(179, 25, 25);
}
#text{
    font-size: 24px;
    color:#C70039 ;
    font-weight: 100px;
}